{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                        <div class="bg-primary p-0 px-4 px-sm-12">
                                {% if messages %}
                                  <div class="alert alert-primary" role="alert">
                                 {% for message in messages %}
                                   {{ message }}
                                   {% endfor %}
                                  </div>
                                {% endif %}
                        <form class="py-5" action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input name="username" type="text" class="form-control border-0 p-4" placeholder="Username" required="required" />
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}